/* For a production app I would use sass and auto-prefixer.
I would also use the BEM strategy and try to lint it to two levels of nesting maximum to keep it easy to read and maintainable */
* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.venue-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto;
  padding: 0;
  width: 90vw;
}

.venue-list__venue {
  border: 1px solid #cccccc;
  box-shadow: 0px 0px 13px 0px rgb(189, 189, 189);
  flex: 1;
  flex-basis: 18%;
  list-style: none;
  margin: 5px;
  min-width: 300px;
  text-decoration: none;
}

.forage-button {
  background-color: #e6e6e6;
  background-color: rgb(66, 184, 221);
  border-radius: 4px;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-size: 100%;
  padding: .5em 1em;
  border: transparent;
  text-decoration: none;
}

.forage-button:hover {
  background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1))
}
